@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-select option {
  font-size: 18px;
  font-weight: 300;
  color: rgba(0, 0, 0, 1);
}

/* Custom CSS to hide the default date picker icon */
input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
  position: absolute;
  right: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.img-radius {
  border-radius: 10px 0 0 10px;
}

.text-color {
  color: rgb(64, 141, 188);
}

.bg-color {
  background-color: rgb(64, 141, 188);
}

.card {
  backdrop-filter: blur(23px) saturate(112%);
  -webkit-backdrop-filter: blur(23px) saturate(112%);
  background: linear-gradient(100deg, #a1aec0, rgba(249, 252, 255, 0.62) 40%);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
/* but-1 */

@media screen and (max-width: 479px) {
  .btn1 {
    border: 2px solid #dec62a;
    color: #cfc200;
    background-color: transparent;
    text-align: center;
    font-size: 13px;
    padding: 1px 6px;
  }

  .btn2 {
    border-radius: 8px;
    border: 2px solid #076fe5;
    color: #076fe5;
    background-color: transparent;
    padding: 1px 6px;
    font-size: 12px;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .btn1 {
    border: 2px solid #dec62a;
    color: #cfc200;
    background-color: transparent;

    font-size: 14px;
    padding: 2px 10px;
  }

  .btn2 {
    border-radius: 10px;
    border: 2px solid #076fe5;
    color: #076fe5;
    background-color: transparent;
  }
}
/*  */

/*  loader css */

/* App.css */
.loader {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.jimu-primary-loading:before,
.jimu-primary-loading:after {
  position: absolute;
  top: 0;
  content: "";
}

.jimu-primary-loading:before {
  left: -19.992px;
}

.jimu-primary-loading:after {
  left: 19.992px;
  -webkit-animation-delay: 0.32s !important;
  animation-delay: 0.32s !important;
}

.jimu-primary-loading:before,
.jimu-primary-loading:after,
.jimu-primary-loading {
  background: #076fe5;
  -webkit-animation: loading-keys-app-loading 0.8s infinite ease-in-out;
  animation: loading-keys-app-loading 0.8s infinite ease-in-out;
  width: 13.6px;
  height: 32px;
}

.jimu-primary-loading {
  text-indent: -9999em;
  margin: auto;
  position: absolute;
  right: calc(50% - 6.8px);
  top: calc(50% - 16px);
  -webkit-animation-delay: 0.16s !important;
  animation-delay: 0.16s !important;
}

@-webkit-keyframes loading-keys-app-loading {
  0%,
  80%,
  100% {
    opacity: 0.75;
    box-shadow: 0 0 #076fe5;
    height: 32px;
  }
  40% {
    opacity: 1;
    box-shadow: 0 -8px #076fe5;
    height: 40px;
  }
}

@keyframes loading-keys-app-loading {
  0%,
  80%,
  100% {
    opacity: 0.75;
    box-shadow: 0 0 #076fe5;
    height: 32px;
  }
  40% {
    opacity: 1;
    box-shadow: 0 -8px #076fe5;
    height: 40px;
  }
}

/*  istagram */

.instagram-bg {
  background: linear-gradient(120deg, #833ab4, #fd1d1d, #fcb045);
  display: inline-flex; /* Optional: For proper centering */
  align-items: center; /* Optional: For proper centering */
  justify-content: center; /* Optional: For proper centering */
}

/* event divider  */

.sticky {
  z-index: 50; /* Ensure this is higher than the cards */

  backdrop-filter: blur(10px); /* Add blur effect */
}

/* recomemded  */

@media screen and (max-width: 767px) {
  .card-img {
    position: relative;
  }

  .left {
    z-index: 500;
    width: 100%;
    position: relative;
  }
  .left:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 501;
    opacity: 0.9;
  }

  .left-img {
    width: 100%;
    height: 160px;
  }

  .right {
    position: absolute;
    z-index: 502;
    top: 3px;
    left: 2rem;
    color: white;
    margin-top: 1rem;
  }

  .right-color {
    color: white;
  }

  .right-color-button {
    color: white;
    border-color: white;
  }

  .left-popup-img {
    position: absolute;
    overflow: hidden;
  }

  .left-popup-img:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 501;
    opacity: 0.9;
  }

  .right-popup-text {
    color: white;
  }
}

/* 

calender*/

/* Custom Styles for React Datepicker */
/* Custom Styles for React Datepicker */
.custom-calendar {
  border: 1px solid #ddd;
  border-radius: 0;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  font-family: Arial, sans-serif; /* Adjust font-family as needed */
}

.custom-calendar .react-datepicker__header {
  background-color: #f7fafc;
  border-bottom: 1px solid #ddd;
}

.custom-calendar .react-datepicker__day {
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
  font-size: 0.875rem;
  margin: 0.2rem;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.custom-calendar .react-datepicker__day--today {
  position: relative;
  background-color: transparent;
}

.custom-calendar .react-datepicker__day--today::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1.7rem;
  height: 1.7rem;
  border: 1px solid gray;
  border-radius: 50%;
}

.custom-calendar .react-datepicker__day--selected,
.custom-calendar .react-datepicker__day--selected:hover {
  background-color: #3182ce;
  color: white;
}

.custom-calendar .react-datepicker__day--keyboard-selected {
  background-color: #3182ce;
  color: white;
}

.custom-calendar .react-datepicker__day--keyboard-selected:hover {
  background-color: #3182ce;
  color: white;
}

.custom-calendar .react-datepicker__day--outside-month {
  color: #ccc;
  visibility: hidden; /* Hide days outside the current month */
}

.custom-calendar .react-datepicker__day--disabled {
  color: #ccc;
  cursor: default;
}

/*  */

/* Add this to your CSS file */
.select-dropdown {
  width: 100%; /* Ensure the dropdown takes full width */
  border: transparent; /* Light border for the dropdown */
  /* Rounded corners */
  /* White background for options */
  overflow: hidden; /* Hide overflow */
  background-color: transparent;
}

.select-dropdown option {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem; /* Padding inside options */
}

.select-dropdown option img {
  width: 1.5rem; /* Flag icon size */
  height: 1.5rem; /* Flag icon size */
  margin-right: 0.5rem; /* Space between flag and text */
}

/* ---------------------------------Form-------------------------------------- */
/* Navbar.css */
.bgcolor {
  background: #408dbc; /* Black with 20% opacity */
  backdrop-filter: blur(30px); /* Blur effect */
  -webkit-backdrop-filter: blur(30px); /* Safari support */
  border: 1px solid rgba(255, 255, 255, 0.4); /* Optional: Light border to enhance glass effect */
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

.scrollbar-hidden {
  -ms-overflow-style: none; /* for Internet Explorer and Edge */
  scrollbar-width: none; /* for Firefox */
}

body.dark-mode {
  background-color: black;
  color: white;
}

/* ----------------------------------------- */
/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.header_font {
  font-family: Inter, sans-serif;
}

/* Hide scrollbar for Chrome, Safari, and Opera */
.invisible-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge, and Firefox */
.invisible-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
